NEXT_PUBLIC_SUPABASE_URL=https://eqjabxuraupwefiumnyv.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=your-supabase-publishable-key

BAZARDOR_API_URL=https://api.api-store.workers.dev/api/bazardor

NEXT_PUBLIC_SITE_URL=http://localhost:3000