NEXT_PUBLIC_SUPABASE_URL=https://bhacmkzyoedutgniopya.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_IwjIQmHp9cgDqPcLxcYrkg_1jcBSdzL

BAZARDOR_API_URL=https://api.api-store.workers.dev/api/bazardor
NEXT_PUBLIC_SITE_URL=http://localhost:3000





